

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div class="container">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-3">
            <h2>REGISTRAR-SE</h2> <hr> <br>

            <div class="alert"></div> 

            <form action="/register" method="post">

                <div class="form-goup">

                    <input class="form-control" type="text" placeholder="name" name="name"/> 
                    <input class="form-control" type="text" placeholder="e-mail" name="email"/> 
                    <input class="form-control" type="text" placeholder="password" name="password"/> 

                </div>

                <button class="btn btn-primary" type="submit">LOGIN</button>
            
            </form>

        </div>
    </div>
</div>


<script>

    let form = document.querySelector( 'form' )
        form.setAttribute( 'action', window.location.href )
        form.addEventListener( 'submit', register )
    
        function register()
        {
            event.preventDefault()
            let
                ajax = new XMLHttpRequest(),
                body = 
                    'name='        + document.querySelector('input[name="name"]').value  +
                    '&email='     + document.querySelector('input[name="email"]').value  +
                    '&password='  + document.querySelector('input[name="password"]').value
    console.log(body)
            ajax.open( 'POST', window.location.href )
            ajax.setRequestHeader( 'Content-type' ,'application/x-www-form-urlencoded' )
            ajax.onreadystatechange = function()
            {
                if(ajax.status === 200 && ajax.readyState === 4)
                {
                    let RESULT = JSON.parse(ajax.response)
                    console.log(RESULT)
                    document.querySelector('.alert').innerHTML  =  RESULT.success  ?  
                        `<div class="alert alert-success">${RESULT.success}</div>`  :   `<div class="alert alert-warning">${RESULT.errors}</div>`  
                }
            }
            
            ajax.send(body)
        }
        
    </script>
