

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<div class="container">
    <div class="row">
        <div class="col-sm-3 col-sm-offset-3">
            <h2>HOME INICIAL</h2> <hr> <br>


                <div class="form-goup">

                    o que diabos esta acontecendo

                </div>
            

        </div>
    </div>
</div>

