/*VARIABLES*/
:root
{
    
    --color-theme:rgb( 255, 75, 0);
    --color-primary: rgb( 255, 100,0 );
    --color-secondary: rgb( 255, 55,0 );
    --color-tertiary: rgb( 255, 35,0 );
    

    --color-error: rgb( 220, 0, 0);
    --color-error-glow:rgb( 255, 0, 0);
    --color-warning: rgb( 255, 220, 0);
    --color-warning-glow:rgb( 255, 255, 0);
    --color-success: rgb( 0, 220, 0);
    --color-success-glow: rgb( 0, 255, 0);
    
    --color-grayscale-dark: rgb( 100, 100, 100);
    --color-grayscale-medium: rgb( 150, 150, 150 );
    --color-grayscale-light: rgb( 200, 200, 200 );
    --color-grayscale-extra-dark: rgb( 75, 75, 75);
    --color-grayscale-extra-light: rgb( 225, 225, 225 );
   
    --color-black: rgb( 0, 0, 0 );
    --color-white: rgb( 255, 255, 255 );

}


/*SCREEN*/
.full-width { width: 100%; }
.full-height { height: 100vh; }


/*FLEX*/
.flex { display: flex; }
.flex-1 { flex: 1; }
.flex-2 { flex: 2; }
.flex-3 { flex: 3; }

.horizontal { flex-direction: row; }
.vertical{ flex-direction: column; } 

.flex-start, .flex-end, .flex-center { align-items: center; }

.flex-start { justify-content: flex-start; }

.flex-end { justify-content: flex-end; }

.flex-center { justify-content: center; }





/*IMAGES*/
.ImageDisplayContainer
{
    width: 100px;
    height: 100px;
}